# VS build folders
Debug/
Release/
x64/

# VC++
*.obj
*.pdb
*.exe
*.ilk
*.log
ipch/
*.tlog
*.dll
*.cache
*.lib
*.db
*.opendb
*.idb

# Visual Studio user settings
*.user
*.suo

# CMake build
build/
CMakeFiles/
CMakeCache.txt
